<%- include('partials/header') %>

  <section class="page-header">
    <h1>Terms &amp; Privacy</h1>
    <p>Terms of service and privacy policy for working with Tara Oltmans</p>
  </section>

  <section class="section">
    <div class="policy-content">
      
    </div>
  </section>

<%- include('partials/footer') %>
